.toggleBtn {
  width: 120px;
  padding: 10px 0px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #ffc93c;
  color: #00005c;
  margin-top: 20px;
}

.toggleBtn:hover {
  background-color: #0081c9;
  color: white;
}
