body {
  box-sizing: border-box;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(165deg, #f0caa3, #c060a1, #00005c);
}
