body {
  box-sizing: border-box;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(165deg, #f7f5eb, #86e5ff, #0081c9);
}
